.error {
    color: red;
    font-size: 16px;
    font-weight: 600;
    display: none;
}

#itemList1, #itemList2 {
    float: left;
}

#itemList2 {
    margin-left: 40px;
}

img {
    width: 20px;
    height: 20px;
}