<!DOCTYPE html>
<html ng-app="nameCalculator">
    <head>
        <meta charset="UTF-8">
        <title>Name Calculator</title>

        <script src="angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div ng-controller="nameCalculatorController">
            <h1>Calculate the numerical value of your name!</h1>
            <p>
                Enter your name
                <input type="text" 
                    ng-model="name"
                    ng-keyup="displayNumericValue(); displayUpperCaseName();"/>
            </p>
            <p>
                The numerical value of '{{name}}' is: {{numericNameValue}}
            </p>
            <p>
                The numerical value of '{{nameUpper}}' is: {{numericNameValueUpper}}
            </p>
            <button ng-click="changeButtonState(); generateRandomPrice();">
                <img ng-src="img/{{iconPrefix}}-button.png">
            </button>
            <p>
                Click the button to see your total cost: {{price | currency : 'E$' : 3}}
            </p>
            <p>
                Your leet name: {{name | leet : 'e' : '3' | uppercase}}
            </p>
            <button ng-click="showSurprisePopup()">Click for a surprise</button>
            <br>
            <br>
            <div>
                Types of pets:
                <br>
                <input type="text" ng-model="petSearchString" placeholder="Search" />
                <ul>
                    <li ng-repeat="pet in petList | filter : petSearchString">{{pet}}</li>
                </ul>
            </div>
            <div>
                List of pets (names and breeds):
                <br>
                <input type="text" ng-model="dogList[0].name" />
                <ul>
                    <li ng-repeat="dog in dogList">{{$index+1 +'. '+ dog.name +' is a '+ dog.breed}}</li>
                </ul>
            </div>
        </div>

        <div ng-controller="todoListController as todoCtrl">
            <h3>Shopping list:</h3>
            <input type="text" ng-model="todoCtrl.itemQuantity" placeholder="Quantity"/>
            <input type="text" ng-model="todoCtrl.itemName" placeholder="Item to get"/>
            <button ng-click="todoCtrl.addItem(todoCtrl.itemName, todoCtrl.itemQuantity);">Add Item</button>
            <br>
            <ol>
                <li ng-repeat="item in todoCtrl.items">
                    {{ 'Get '+ item.quantity + ' ' + item.name }}
                    <button ng-click="todoCtrl.removeItem($index)">Remove</button>
                </li>
            </ol>
        </div>
    </body>
</html>