<!DOCTYPE html>
<html ng-app="shoppingListApp">
    <head>
        <meta charset="UTF-8">
        <title>Week 3</title>

        <script src="../angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div ng-controller="ShoppingListController as shoppingList">
            <h3>Item list:</h3>
            <input type="text" ng-model="shoppingList.itemQuantity" placeholder="Quantity"/>
            <input type="text" ng-model="shoppingList.itemName" placeholder="Item to get"/>
            <button ng-click="shoppingList.addItem(shoppingList.itemName, shoppingList.itemQuantity);">Add Item</button>
            <br>
            <item-list items="shoppingList.items" title="{{shoppingList.title}}"></item-list>
        </div>
    </body>
</html>