<!DOCTYPE html>
<html ng-app="shoppingList">
    <head>
        <meta charset="UTF-8">
        <title>Week 3</title>

        <script src="../angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div ng-controller="ShoppingListController as shopCtrl">
            <h3>Item list:</h3>
            <input type="text" ng-model="shopCtrl.itemQuantity" placeholder="Quantity"/>
            <input type="text" ng-model="shopCtrl.itemName" placeholder="Item to get"/>
            <button ng-click="shopCtrl.addItem(shopCtrl.itemName, shopCtrl.itemQuantity);">Add Item</button>
            <br>
            <list-item shop-ctrl="shopCtrl" title="shopCtrl.title"></list-item>
            <h3 ng-if="shopCtrl.errorMessage" ng-model="shopCtrl.errorMessage" style="color: red;">{{ shopCtrl.errorMessage }}</h3>
        </div>
    </body>
</html>